--- 
layout: default 
---
<div class="page-header">
    <div class="container">
        <h1>James Higgott</h1>
        <p class="lead">If you're looking for James Higgott you've found him</p>
    </div>
</div>
<div class="container">
        {% for post in site.posts limit: 5 %}
        <p><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> <small>({{ post.date | date: "%-d %b %Y" }})</small></p>{% endfor %}
        <p><a class="btn btn-primary" href="/blog/" role="button">All blog posts</a></p>
</div>
<div class="container" id="contacts">
    <div class="row">
        <div class="col-md-4 bg-success">
            <h2>Professional</h2>
            <p>I'm Head of Digital for <a href="http://www.kingsfund.org.uk/">The King's Fund</a>.</p>
            <p>I previously worked at <a href="http://www.royalmarsden.nhs.uk">The Royal Marsden</a> and <a href="http://www.royalmarsden.org">The Royal Marsden Cancer Charity</a>.</p>
            <p>You can find me on <a href="https://www.linkedin.com/in/jiggott">LinkedIn</a>.</p>
        </div>
        <div class="col-md-4 bg-info">
            <h2>Creative</h2>
            <p>Read what I have to say about stuff in general on <a href="/blog">my blog</a> and about food and drink in Crystal Palace on <a href="http://crystalpalacegrubcrawl.com/">Crystal Palace Grub Crawl</a>.</p>
            <p>I&rsquo;ve played drums in bands like <a href="http://dorabrilliant.com/">Dora Brilliant</a>, <a href="http://copontheedge.com/">Cop on the Edge</a> and <a href="http://customradar.co.uk/host/gHOST.html">HOST</a>.</p>
        </div>
        <div class="col-md-4 bg-warning">
            <h2>Social</h2>
            <p>Follow me on <a href="http://twitter.com/jiggott">Twitter (I&rsquo;m @jiggott)</a>.</p>
            <p>I like taking photos and occasionally post stuff on <a href="http://flickr.com/photos/higgott">Flickr</a> and <a href="http://instagram.com/jiggott">Instagram</a>.</p>
            <p>I briefly held the Swivelympics world record for <a href="http://www.youtube.com/watch?v=eqbdGd9swvE">swivelling on an office chair</a>.</p>
        </div>
    </div>
</div>
